
body{
  font-family:Arial;
  background:#eef3f9;
  padding:20px;
  margin:0;
}

header{
  text-align:center;
  margin-bottom:20px;
}

.card{
  background:white;
  padding:20px;
  margin:15px auto;
  max-width:800px;
  border-radius:12px;
  box-shadow:0 4px 10px rgba(0,0,0,.1);
}

input, select, button{
  width:100%;
  margin:6px 0;
  padding:10px;
  font-size:16px;
}

button{
  background:#ff9800;
  color:white;
  border:none;
  font-weight:bold;
  cursor:pointer;
}

.actions button{
  margin-top:10px;
}
